/*===============================================================
          Website Resets
==================================================================*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

*::-moz-focus-inner {
  border: 0;
}

*:focus {
  outline: none;
}

/*===============================================================
          Root and General styles
==================================================================*/
:root {
  /************************* fluid body text *************************/
  --fbt-fluid-body-text-p6: clamp(0.64rem, 0.16vi + 0.61rem, 0.8rem);
  --fbt-fluid-body-text-p5: clamp(0.8rem, 0.2vi + 0.76rem, 1rem);
  --fbt-fluid-body-text-p4: clamp(1rem, 0.25vi + 0.95rem, 1.25rem);
  --fbt-fluid-body-text-p3: clamp(1.25rem, 0.31vi + 1.19rem, 1.56rem);
  --fbt-fluid-body-text-p2: clamp(1.56rem, 0.39vi + 1.48rem, 1.95rem);
  --fbt-fluid-body-text-p1: clamp(1.95rem, 0.49vi + 1.86rem, 2.44rem);
  /************************* fluid heading text *************************/
  --fht-fluid-heading-text-h6: clamp(1rem, 0.25vi + 0.95rem, 1.25rem);
  --fht-fluid-heading-text-h5: clamp(1.25rem, 0.31vi + 1.19rem, 1.56rem);
  --fht-fluid-heading-text-h4: clamp(1.56rem, 0.39vi + 1.48rem, 1.95rem);
  --fht-fluid-heading-text-h3: clamp(1.95rem, 0.49vi + 1.86rem, 2.44rem);
  --fht-fluid-heading-text-h2: clamp(2.44rem, 0.61vi + 2.32rem, 3.05rem);
  --fht-fluid-heading-text-h1: clamp(3.05rem, 0.76vi + 2.9rem, 3.81rem);
  /************************* fluid spacing *************************/
  --fs-fluid-space-000: clamp(.5rem, 1vw, 1rem);
  --fs-fluid-space-100: clamp(1rem, 2vw, 1.5rem);
  --fs-fluid-space-200: clamp(1.5rem, 3vw, 2rem);
  --fs-fluid-space-300: clamp(2rem, 4vw, 3rem);
  --fs-fluid-space-400: clamp(4rem, 5vw, 5rem);
  --fs-fluid-space-500: clamp(5rem, 7vw, 7.5rem);
  --fs-fluid-space-600: clamp(7.5rem, 10vw, 10rem);
  --fs-fluid-space-700: clamp(10rem, 20vw, 15rem);
  --fs-fluid-space-800: clamp(15rem, 30vw, 20rem);
  --fs-fluid-space-900: clamp(20rem, 40vw, 30rem);
  /************************* fonts *************************/
  --ff-font-family-body: "Open Sans", sans-serif;
  --ff-font-family-head: "Roboto", sans-serif;
  --fw-font-weight-light: 300;
  --fw-font-weight-normal: 400;
  --fw-font-weight-medium: 600;
  --fw-font-weight-semibold: 700;
  --fw-font-weight-bold: 800;
  --fw-font-weight-black: 900;
  /************************* typography scale *************************/
  --fs-font-size-heading-01: 3.815rem;
  --fs-font-size-heading-02: 3.052rem;
  --fs-font-size-heading-03: 2.441rem;
  --fs-font-size-heading-04: 1.953rem;
  --fs-font-size-heading-05: 1.563rem;
  --fs-font-size-heading-06: 1.25rem;
  --fs-font-size-paragraph: 1rem;
  --fs-font-size-small: 0.8rem;
  /************************* timing functions *************************/
  --tf-timing-function-basic-01: cubic-bezier(0.26, 0.1, 0.27, 1.55);
  --tf-timing-function-basic-02: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  --tf-timing-function-ease: cubic-bezier(0.19, 0.08, 0.46, 0.99);
  --tf-timing-function-ease-in: cubic-bezier(0.33, 0.02, 0.84, 0.75);
  --tf-timing-function-ease-out: cubic-bezier(0.05, 0.21, 0.66, 0.98);
  --tf-timing-function-ease-in-out: cubic-bezier(0.38, 0, 0.57, 0.99);
  --tf-timing-function-linear: cubic-bezier(0.19, 0.08, 0.84, 0.75);
  --tf-timing-function-smooth: cubic-bezier(0.1, 0.7, 0.6, 0.9);
  --tf-timing-function-snappy: cubic-bezier(0.5, 0, 0.4, 0.98);
  --tf-timing-function-snappy2: cubic-bezier(.17, .67, .83, .67);
  /************************* box shadows *************************/
  /* box-shadow-right */
  --bs-box-shadow-right-000: 8px 0px 8px -5px rgba(34, 40, 45, 0.15);
  --bs-box-shadow-right-100: 8px 0px 8px -5px rgba(34, 40, 45, 0.25);
  --bs-box-shadow-right-200: 8px 0px 8px -5px rgba(34, 40, 45, 0.35);
  --bs-box-shadow-right-300: 8px 0px 8px -3px rgba(34, 40, 45, 0.15);
  --bs-box-shadow-right-400: 8px 0px 8px -3px rgba(34, 40, 45, 0.25);
  --bs-box-shadow-right-500: 8px 0px 8px -3px rgba(34, 40, 45, 0.35);
  --bs-box-shadow-right-600: 8px 0px 8px 0px rgba(34, 40, 45, 0.15);
  --bs-box-shadow-right-700: 8px 0px 8px 0px rgba(34, 40, 45, 0.25);
  --bs-box-shadow-right-800: 8px 0px 8px 0px rgba(34, 40, 45, 0.35);
  --bs-box-shadow-right-900: 8px 0px 8px 0px rgba(34, 40, 45, 0.55);
  /* box-shadow-bottom */
  --bs-box-shadow-bottom-000: 0px 8px 8px -5px rgba(34, 40, 45, 0.15);
  --bs-box-shadow-bottom-100: 0px 8px 8px -5px rgba(34, 40, 45, 0.25);
  --bs-box-shadow-bottom-200: 0px 8px 8px -5px rgba(34, 40, 45, 0.35);
  --bs-box-shadow-bottom-300: 0px 8px 8px -3px rgba(34, 40, 45, 0.15);
  --bs-box-shadow-bottom-400: 0px 8px 8px -3px rgba(34, 40, 45, 0.25);
  --bs-box-shadow-bottom-500: 0px 8px 8px -3px rgba(34, 40, 45, 0.35);
  --bs-box-shadow-bottom-600: 0px 8px 8px 0px rgba(34, 40, 45, 0.15);
  --bs-box-shadow-bottom-700: 0px 8px 8px 0px rgba(34, 40, 45, 0.25);
  --bs-box-shadow-bottom-800: 0px 8px 8px 0px rgba(34, 40, 45, 0.35);
  --bs-box-shadow-bottom-900: 0px 8px 8px 0px rgba(34, 40, 45, 0.55);
  /* box-shadow-bottom-right */
  --bs-box-shadow-bottom-right-000: 3px 3px 8px -1px rgba(34, 40, 45, 0.15), 3px 3px 8px -1px rgba(34, 40, 45, 0.15);
  --bs-box-shadow-bottom-right-100: 3px 3px 8px -1px rgba(34, 40, 45, 0.25), 3px 3px 8px -1px rgba(34, 40, 45, 0.25);
  --bs-box-shadow-bottom-right-200: 3px 3px 8px -1px rgba(34, 40, 45, 0.35), 3px 3px 8px -1px rgba(34, 40, 45, 0.35);
  --bs-box-shadow-bottom-right-300: 5px 3px 13px -1px rgba(34, 40, 45, 0.15), 5px 3px 13px -1px rgba(34, 40, 45, 0.15);
  --bs-box-shadow-bottom-right-400: 5px 3px 13px -1px rgba(34, 40, 45, 0.25), 5px 3px 13px -1px rgba(34, 40, 45, 0.25);
  --bs-box-shadow-bottom-right-500: 5px 3px 13px -1px rgba(34, 40, 45, 0.35), 5px 3px 13px -1px rgba(34, 40, 45, 0.35);
  --bs-box-shadow-bottom-right-600: 5px 3px 21px -1px rgba(34, 40, 45, 0.15), 5px 3px 21px -1px rgba(34, 40, 45, 0.15);
  --bs-box-shadow-bottom-right-700: 5px 3px 21px -1px rgba(34, 40, 45, 0.25), 5px 3px 21px -1px rgba(34, 40, 45, 0.25);
  --bs-box-shadow-bottom-right-800: 5px 3px 21px -1px rgba(34, 40, 45, 0.35), 5px 3px 21px -1px rgba(34, 40, 45, 0.35);
  --bs-box-shadow-bottom-right-900: 5px 3px 5px -1px rgba(34, 40, 45, 0.25), 5px 3px 5px -1px rgba(34, 40, 45, 0.25);
  /************************* border-radius *************************/
  --br-border-radius-000: 1px;
  --br-border-radius-100: 2px;
  --br-border-radius-200: 3px;
  --br-border-radius-300: 5px;
  --br-border-radius-400: 8px;
  --br-border-radius-500: 13px;
  --br-border-radius-600: 21px;
  --br-border-radius-700: 34px;
  --br-border-radius-800: 55px;
  --br-border-radius-900: 50%;
  /************************* colors *************************/
  /* primary colors */
  --clr-blue-01-000: hsl(221, 67%, 94%);
  --clr-blue-01-100: hsl(221, 67%, 89%);
  --clr-blue-01-200: hsl(221, 67%, 75%);
  --clr-blue-01-300: hsl(221, 51%, 67%);
  --clr-blue-01-400: hsl(221, 51%, 55%);
  --clr-blue-01-500: hsl(221, 54%, 40%);
  --clr-blue-01-600: hsl(221, 59.52%, 32.94%);
  --clr-blue-01-700: hsl(225, 40%, 34%);
  --clr-blue-01-800: hsl(230, 30%, 28%);
  --clr-blue-01-900: hsl(235, 23%, 30%);
  /* neutral colors */
  --clr-neutral-000: hsl(221, 0%, 98%);
  --clr-neutral-100: hsl(221, 0%, 88%);
  --clr-neutral-200: hsl(221, 0%, 78%);
  --clr-neutral-300: hsl(221, 0%, 68%);
  --clr-neutral-400: hsl(221, 0%, 58%);
  --clr-neutral-500: hsl(221, 0%, 48%);
  --clr-neutral-600: hsl(221, 0%, 38%);
  --clr-neutral-700: hsl(225, 0%, 28%);
  --clr-neutral-800: hsl(230, 0%, 18%);
  --clr-neutral-900: hsl(235, 0%, 10%);
  /* augmented colors */
  --clr-augmented-000: hsl(221, 12%, 98%);
  --clr-augmented-100: hsl(221, 12%, 88%);
  --clr-augmented-200: hsl(221, 12%, 78%);
  --clr-augmented-300: hsl(221, 15%, 68%);
  --clr-augmented-400: hsl(221, 15%, 58%);
  --clr-augmented-500: hsl(221, 15%, 48%);
  --clr-augmented-600: hsl(221, 15%, 38%);
  --clr-augmented-700: hsl(225, 20%, 28%);
  --clr-augmented-800: hsl(230, 25%, 18%);
  --clr-augmented-900: hsl(235, 23%, 10%);

  /************************* semantic colors *************************/

  /* semantic alert colors */
  --clr-semantic-a-400: hsla(0, 96%, 33%, 100%);
  --clr-semantic-a-300: hsla(0, 96%, 38%, 100%);
  --clr-semantic-a-200: hsla(0, 96%, 43%, 100%);
  --clr-semantic-a-100: hsla(0, 96%, 48%, 100%);
  /* semantic inform colors */
  --clr-semantic-i-400: hsla(215, 96%, 33%, 100%);
  --clr-semantic-i-300: hsla(215, 96%, 38%, 100%);
  --clr-semantic-i-200: hsla(215, 96%, 43%, 100%);
  --clr-semantic-i-100: hsla(215, 96%, 48%, 100%);
  /* semantic success colors */
  --clr-semantic-s-400: hsla(100, 96%, 33%, 100%);
  --clr-semantic-s-300: hsla(100, 96%, 38%, 100%);
  --clr-semantic-s-200: hsla(100, 96%, 43%, 100%);
  --clr-semantic-s-100: hsla(100, 96%, 48%, 100%);
  /* semantic warn colors */
  --clr-semantic-w-400: hsla(48, 96%, 50%, 100%);
  --clr-semantic-w-300: hsla(48, 96%, 55%, 100%);
  --clr-semantic-w-200: hsla(48, 96%, 60%, 100%);
  --clr-semantic-w-100: hsla(48, 96%, 65%, 100%);
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  font-family: var(--ff-font-family-body);
  font-weight: var(--fw-font-weight-normal);
  letter-spacing: 1px;
  line-height: 1.5;
  color: var(--clr-augmented-800);
}

/*===============================================================
          Scrollbar Styles
==================================================================*/
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* track */
::-webkit-scrollbar-track {
  margin-left: 4px;
  box-shadow: inset 0 0 5px var(--clr-neutral-200);
  border-radius: 3px;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-neutral-300);
  border-radius: var(--br-border-radius-200);
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-neutral-600);
}

/*===============================================================
          Typography Scale - 1.250 - Major Third
==================================================================*/
h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-font-family-head);
  font-weight: var(--fw-font-weight-semibold);
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: var(--fs-font-size-heading-01);
}

h2 {
  font-size: var(--fs-font-size-heading-02);
}

h3 {
  font-size: var(--fs-font-size-heading-03);
}

h4 {
  font-size: var(--fs-font-size-heading-04);
}

h5 {
  font-size: var(--fs-font-size-heading-05);
}

h6 {
  font-size: var(--fs-font-size-heading-06);
}

p, small {
  font-family: var(--ff-font-family-body);
  text-rendering: optimizeLegibility;
}

p {
  font-size: var(--fs-font-size-paragraph);
}

small {
  font-size: var(--fs-font-size-small);
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--clr-blue-01-000);
  cursor: pointer;
  opacity: 0.75;

}

a:hover {
  cursor: pointer;
  opacity: 1;

}

/*===============================================================
          Utility classes
==================================================================*/
.utils-container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

}

.utils-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

}

@media (min-width: 576px) {
  .utils-container {
    max-width: 544px;

  }
}

@media (min-width: 768px) {
  .utils-container {
    max-width: 720px;

  }
}

@media (min-width: 992px) {
  .utils-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .utils-container {
    max-width: 1144px;
  }
}

@media (min-width: 1400px) {
  .utils-container {
    max-width: 1320px;
  }
}

.utils-img-responsive {
  vertical-align: middle;
}

.utils-img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  line-height: 1.42857143;
  background-color: hsl(221, 0%, 88%);
  border: 1px solid hsl(221, 0%, 68%);
  border-radius: var(--br-border-radius-200);
  -webkit-border-radius: var(--br-border-radius-200);
  -moz-border-radius: var(--br-border-radius-200);
  -ms-border-radius: var(--br-border-radius-200);
  -o-border-radius: var(--br-border-radius-200);
}

.utils-img-responsive,
.utils-thumbnail > img,
.utils-thumbnail a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*If you want the image to scale both up and down on responsiveness,
set CSS width property to 100% and height to auto*/
.utils-img-responsive-up-and-down {
  width: 100%;
  height: auto;
}

/*If you want the image to scale down if it has to, but never scale up
to be larger than its original size, use CSS max-width property to 100%
and height to auto*/
.utils-img-responsive-down {
  max-width: 100%;
  height: auto;
}

/*If you want to restrict the image to a maximum size, set CSS width property
to 100%, max-width property to a pixel value of choice, and height to auto*/
.utils-img-responsive-up-to {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.utils-img-responsive {
  vertical-align: middle;
}

.utils-img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  line-height: 1.42857143;
  background-color: hsl(221, 0%, 28%);
  border: 1px solid hsl(221, 0%, 68%);
  border-radius: var(--br-border-radius-200);
  -webkit-border-radius: var(--br-border-radius-200);
  -moz-border-radius: var(--br-border-radius-200);
  -ms-border-radius: var(--br-border-radius-200);
  -o-border-radius: var(--br-border-radius-200);
}

.utils-img-responsive,
.utils-thumbnail > img,
.utils-thumbnail a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

/************************* utils effect 08 *************************/
.form-input-08 {
  position: relative;
  width: 100%;
  margin: 8px 3%;
}

.utils-effect-08 {
  position: relative;
  width: 100%;
  display: inline-block;
  padding: 8px 16px;
  font-family: var(--ff-font-family-body);
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: var(--clr-neutral-800);
  background-color: transparent;
  border: 1px solid var(--clr-augmented-800);
  border-radius: var(--br-border-radius-200);

}

.utils-effect-08 ~ .focus-background-08 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  transition: 0.4s;
}

.utils-effect-08:focus ~ .focus-background-08,
.has-content.effect-08 ~ .focus-background-08 {
  width: 100%;
  transition: 0.4s;
}

.utils-effect-08 ~ .focus-background-08:before,
.utils-effect-08 ~ .focus-background-08:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  background-color: var(--clr-blue-01-000);
  transition: 0.3s;
  z-index: -1;
}

.utils-effect-08:focus ~ .focus-background-08:before,
.has-content.utils-effect-08 ~ .focus-background-08:before {
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  transition: 0.3s;
}

.utils-effect-08 ~ .focus-background-08:after {
  left: auto;
  right: 50%;
  top: auto;
  bottom: 50%;
}

.utils-effect-08:focus ~ .focus-background-08:after,
.has-content.utils-effect-08 ~ .focus-background-08:after {
  transition: 0.3s;
  width: 50%;
  height: 100%;
  bottom: 0;
  right: 0;

}

.utils-effect-08 ~ label {
  position: absolute;
  left: 8px;
  width: 100%;
  top: 12px;
  font-size: 16px;
  color: var(--clr-neutral-800);
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 2px;
}

.utils-effect-08:focus ~ label,
.has-content.utils-effect-08 ~ label {
  top: -24px;
  font-size: 18px;
  color: var(--clr-neutral-800);
  transition: 0.3s;
}

.utils-effect-08:focus ~ label,
.has-content.utils-effect-08 ~ label {
  top: -24px;
  left: 0;
  font-size: 18px;
  color: var(--clr-neutral-800);
  transition: 0.3s;
}


/************************* buttons *************************/
button,
.button {
  background: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.button {
  position: relative;
  /*min-width: 160px;*/
  max-width: 224px;
  z-index: 1;
  display: block;
  padding: 1em 2em;
  vertical-align: middle;
  font-family: var(--ff-font-family-body);
  font-size: clamp(1rem, 0.2vi + 0.76rem, 1.25rem);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: inherit;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  background: none;
  border-radius: var(--br-border-radius-200);
  border: none;
  transition-timing-function: var(--tf-timing-function-smooth);
}

.button:focus {
  outline: none;
}

.button--primary {
  font-weight: var(--fw-font-weight-medium);
  text-align: center;
  color: var(--clr-neutral-100);
  background-color: var(--clr-blue-01-600);
  border: 2px solid var(--clr-blue-01-600);
  opacity: 1;
  -webkit-transition: border-color 0.25s, color 0.25s;
  transition: border-color 0.25s, color 0.25s;
}

.button--primary:hover {
  color: var(--clr-neutral-000);
  color: var(--clr-blue-01-600);
  border-color: var(--clr-blue-01-000);
}

.button--primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-blue-01-000);
  z-index: -1;
  opacity: 0;
  border-radius: var(--br-border-radius-200);
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.25s, opacity 0.25s;
  transition: transform 0.25s, opacity 0.25s;
  -webkit-transition-timing-function: var(--tf-timing-function-smooth);
  transition-timing-function: var(--tf-timing-function-smooth);
}

.button--primary:hover::before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/************************* section heading *************************/
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 80px;
  padding: 7.5em 5em;
}

.section__heading-title {
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--ff-font-family-head);
  font-weight: 700;
  letter-spacing: -1px;
  color: var(--clr-augmented-600);
}

.section__heading-paragraph {
  font-family: var(--ff-font-family-body);
  font-size: var(--fs-font-size-paragraph);
  color: var(--clr-augmented-900);
}

.section__horizontal-rule {
  border-top: 2px solid var(--clr-augmented-900);
  border-radius: var(--br-border-radius-200);
}

/************************* flexbox and grid helper classes *************************/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-center {
  display: grid;
  place-items: center;
}

.grid-container {
  margin: 3em auto;
  width: 90%;
  display: grid;
  row-gap: 3rem;
  column-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-container-12 {
  margin: 0 auto;
  width: 90%;
  display: grid;
  row-gap: 3rem;
  column-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-column-1 {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 2rem;
}

.grid-column-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 2rem;
}

.grid-column-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 2rem;
}

.grid-column-4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 2rem;
}

/*===============================================================
          Preloader
==================================================================*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 10000;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: var(--clr-blue-01-000);
}

.preloader__gif {
  width: 25%;
  align-self: center;
}

@media screen and (max-width: 1024px) {
  .preloader__gif {
    width: 33.333%;
  }
}

@media screen and (max-width: 768px) {
  .preloader__gif {
    width: 50%;
  }
}

/*===============================================================
          Header
==================================================================*/
.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

}

/************************* navbar *************************/
.header__navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  z-index: 50;
  padding: 2em 8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-blue-01-500);
  transition: top 0.25s var(--tf-timing-function-smooth);

}

.header__brand {
  position: relative;
  z-index: 3;
  flex: 0 0 60px;
  margin-bottom: 0.8em;
  border-radius: 50%;
  overflow: hidden;

}

.header__brand--logo {
  max-width: 100%;
  display: block;

}

.header__menu-burger {
  display: none;

}

.header__navigation {
  z-index: 3;

}

.header__navigation-list {
  width: 100%;
  display: flex;
  flex-direction: row;

}

.header__navigation-link-item {
  font-size: clamp(1rem, 0.25vi + 0.95rem, 1.25rem);
  text-transform: uppercase;
  letter-spacing: 1.2px;

}

.header__navigation-link-item:not(:last-child) {
  margin-right: 2em;

}

.header__navigation-link {
  position: relative;
  padding: 0 0.63em;
  text-decoration: none;
  font-family: var(--ff-font-family-body);
  font-size: var(--fbt-fluid-body-text-p4);
  font-weight: var(--fw-font-weight-medium);
  color: var(--clr-neutral-100);
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.25s var(--tf-timing-function-smooth);

}

.header__navigation-link:hover,
.header__navigation-link:focus,
.header__navigation-link:active {
  color: var(--clr-neutral-000);

}

.header__navigation-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 3px;
  background-color: var(--clr-neutral-000);
  transform: scale(0, 1);
  transition: transform 0.25s var(--tf-timing-function-smooth);

}

.header__navigation-link:hover::after {
  transform: scale(1, 1);

}

.header__navigation-link:active {
  color: var(--clr-neutral-000);
  transform: scale(1, 1);

}

.header__menu-burger {
  display: none;

}

/************************* banner *************************/
.banner__section {
  position: relative;
  top: 0;
  z-index: 2;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: var(--clr-neutral-000);

}

.banner__section-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-image: url("../assets/img/main.jpg");
  background-position: center;

}

.banner__section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s var(--tf-timing-function-smooth),
  margin 0.25s var(--tf-timing-function-smooth);
  animation: 3s scale-up-from-bottom 3s forwards;

}

.banner__section-heading {
  font-family: var(--ff-font-family-head);
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;

}

.banner__section-subHeading {
  font-family: var(--ff-font-family-body);
  font-weight: var(--fw-font-weight-normal);
  text-transform: capitalize;
  margin-bottom: 1em;

}

/*===============================================================
          Main Section
==================================================================*/
.main {
  min-height: 100vh;
  min-width: 100vw;
  z-index: 10;
  margin-bottom: 20%;

}

.section {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.5em 5em;
  background-color: var(--clr-neutral-000);
  opacity: 1;

}

.section:nth-child(odd) {
  background-color: var(--clr-neutral-100);

}

.section__heading-title {
  margin-bottom: 0.25em;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--ff-font-family-heading);
  font-weight: 700;
  letter-spacing: -1px;
  color: var(--clr-augmented-600);

}

.section__heading-paragraph {
  max-width: 704px;
  margin-bottom: 1em;
  font-family: var(--ff-font-family-body);
  font-size: var(--fs-font-size-paragraph);
  text-align: center;
  line-height: 1.8;
  letter-spacing: 2px;
  color: var(--clr-augmented-900);

}

@media screen and (max-width: 825px) {
  .section__heading-paragraph {
    max-width: 480px;
  }
}

@media screen and (max-width: 395px) {
  .section__heading-paragraph {
    max-width: 280px;
  }
}

.section__horizontal-rule {
  width: 248px;
  height: 2px;
  margin-bottom: 3.125em;
  background-color: var(--clr-blue-01-400);
  border-radius: var(--br-border-radius-200);

}

/************************* section tours *************************/
.section__tours-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.tours__large,
.tours__small {
  height: 350px;
  padding: 0.5em;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.tours__large {
  flex-basis: 70%;
}

.tours__small {
  flex-basis: 30%;
}

/*@media screen and (max-width: 1100px) {
  tours__large,
  .tours__small {
    flex-basis: 50%;
  }
}*/

@media screen and (max-width: 800px) {
  .tours__large,
  .tours__small {
    flex-basis: 100%;
  }
}

/************************* section__packages section__testimonials *************************/
.section__packages {
  height: 1182px;
}


/************************* section testimonials *************************/
.section__testimonials {
  width: 100%;
  height: 1100px;
  /*padding: 0px 8%;*/
  padding: 3em 5em 5em;
}

.section__testimonials--bottom {
  position: relative;
  top: 5%;
}

.testimonials__card {
  padding: 20px;
  border-radius: var(--br-border-radius-200);
}


.testimonials__card--body {
  padding: 20px;
  background-color: var(--clr-blue-01-500);
  /*box-shadow: 2px 2px 20px rgba(0,0,0,0.12);*/
  box-shadow: var(--bs-box-shadow-bottom-300);

}

.testimonials__card--quote {
  display: flex;
  align-items: center;

}

.testimonials__card--quote i,
.svg-inline--fa {
  font-size: 45px;
  color: var(--clr-augmented-000);
  margin-right: 20px;
}
.testimonials__card--title {
  letter-spacing: 1px;
  color: var(--clr-augmented-100);
}

.testimonials__card--review {
  margin: 10px 0px 15px;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: var(--clr-augmented-200);
}

.testimonials__card--rating {
  margin-top: 20px;

}

.testimonials__card--rating i {
  font-size: 17px;
  color: var(--clr-semantic-w-300);
}

.testimonials__card--profile {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.testimonials__card--profile-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;

}

.testimonials__card--profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.testimonials__card--profile-info {
  display: flex;
  flex-direction: column;

}

.testimonials__card--profile-name {
  font-size: 24px;
  font-weight: var(--fw-font-weight-medium);
  color: var(--clr-augmented-100);

}

.testimonials__card--profile-title {
  font-size: 20px;
  font-weight: var(--fw-font-weight-normal);
  color: var(--clr-augmented-300);
}

.owl-nav{
  position: absolute;
  right: 20px;
  bottom: -10px;
}
.owl-nav button{
  border-radius: 50% !important;
}
.owl-nav .owl-prev i,
.owl-nav .owl-next i{
  padding: 10px !important;
  border-radius: 50%;
  font-size: 18px !important;
  /*   background-color: var(--card-clr) !important;*/
  background-color: var(--clr-blue-01-500) !important;
  color: var(--primary-clr);
  cursor: pointer;
  transition: 0.4s;
}
.owl-nav .owl-prev i:hover,
.owl-nav .owl-next i:hover{
  /*background-color: var(--primary-clr) !important;*/
  background-color: var(--clr-blue-01-600) !important;
  color: #e9e9e9;
}
.owl-dots{
  margin-top: 15px;
}
.owl-dots .owl-dot span{
  background-color: #434753 !important;
  background-color: #434753 !important;
  padding: 6px !important;
}
.owl-dot.active span{
  background-color: var(--primary-clr) !important;
}

/************************* section contact *************************/
.section__contact {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.section__contact--bottom {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.contact__form--group {
  position: relative;
  min-width: 66.667%;
  height: fit-content;

}

.contact__form {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.contact__form--content {
  position: relative;
  width: 98%;
  margin: 20px 3%;

}

.contact__form--content-textarea {
  position: relative;
  width: 98%;
  height: fit-content;
  margin: 20px 3%;

}


.contact__form--input-prompt {
  position: absolute;
  left: 4px;
  bottom: -20px;
  display: block;
  font-weight: 500;
  line-height: 1.25;

}

.contact__form--input-prompt-textarea {
  position: absolute;
  left: 4px;
  bottom: -20px;
  display: block;
  font-weight: 500;
  line-height: 1.25;

}

.notification__message {
  position: absolute;
  top: 2%;
  z-index: 10;
  padding: 16px 32px;
  display: none;
  color: hsl(210, 0%, 98%);
  border-radius: 5px;
  box-shadow: 5px 3px 13px -1px rgba(34, 40, 45, 0.35), 5px 3px 13px -1px rgba(34, 40, 45, 0.35);
  transition: all ease-in-out;

}

.notification__message--title {
  margin-bottom: 0.5em;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;

}

.notification__message--text {
  display: block;
  margin-bottom: 0.125em !important;
  text-align: left;
  letter-spacing: 1px;

}

.notification__error {
  background-color: #991B1B;
  color: hsl(210, 0%, 98%);

}

.notification__success {
  background-color: #166534;
  color: hsl(210, 0%, 98%);
}

/*===============================================================
          Footer Section
==================================================================*/
.footer__section {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: auto;
  padding: 2em 0;
  color: var(--clr-neutral-000);
  text-align: left;
  background-color: var(--clr-blue-01-700);
  /*max-height: 10%;*/
  z-index: -5;
}

.footer {
  position: relative;
  width: 100%;
  color: var(--clr-augmented-100);
}


.footer__top {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: .40fr .60fr;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

@media screen and (max-width: 1200px) {
  .footer__top {
    grid-template-columns: 1fr;
    grid-row-gap: 2.5em;
  }
}

.footer__top--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__heading {
  font-size: var(--fht-fluid-heading-text-h5);
  margin-bottom: 0.5em;
}

.footer__logo--color {
  color: var(--clr-augmented-300);
}

.footer__navigation--list {
  position: relative;
  top: -55%;
  width: 100%;

}

@media screen and (max-width: 1200px) {
  .footer__navigation--list {
    top: 0;
  }
}

.footer__navigation--link-item {
  display: inline-block;
}

.footer__link-item {
  position: relative;
}

.footer__link-item:before {
  content: "|";
  height: 36px;
  display: inline-block;
  margin-right: 2px;
  cursor: pointer;

}

.footer__navigation--link {
  font-size: var(--fbt-fluid-body-text-p4);
  text-decoration: none;
  text-transform: capitalize;
  color: var(--clr-augmented-300);
  transition: all 0.4s;
}

@media screen and (max-width: 395px) {
  .footer__navigation--link {
    font-size: var(--fbt-fluid-body-text-p5);
    font-size: .875rem;
  }
}

@media screen and (max-width: 374px) {
  .footer__navigation--link {
    font-size: .7rem;
  }
}

.footer__navigation--link:hover,
.footer__navigation--link:focus {
  color: var(--clr-augmented-000);
  transform: scale(1.25);
}


.footer__top--right {
  display: grid;
  grid-template-columns: .85fr 1fr;
}

@media screen and (max-width: 1200px) {
  .footer__top--right {
    grid-template-columns: 1fr 1fr;
  }
}


.footer__top--right-left {

}

@media screen and (max-width: 767px) {
  .footer__top--right {
    grid-template-columns: none;
    grid-template-rows: auto auto;
    grid-row-gap: 2.5em;
  }
}

.footer__location--list {
  display: flex;
  flex-direction: column;
  gap: 0.75em;

}

.footer__location--link-item {

}

.footer__location--link {
  position: relative;
  font-size: var(--fbt-fluid-body-text-p5);
  letter-spacing: 1px;
  color: var(--clr-augmented-300);
  transition: color 0.4s, transform 0.4s;
}

.footer__location--link:hover,
.footer__location--link:focus {
  color: var(--clr-augmented-000);
  transform: scale(1.25);
}

.footer__location-address {
  display: inline-block;
  margin-left: 0.25em;
}

.first__contact-link {
  position: relative;
}

.footer__address--item {
  display: block;
}

.first__location--address-line {
  position: relative;
  left: 20px;
}

.fa-solid.fa-location-dot {
  position: absolute;
  top: 8px;
}


.footer__top--right-right {
  display: flex;
  flex-direction: column;
  grid-column: 2 / -1;

}

.footer__mission--statement {
  font-size: var(--fbt-fluid-body-text-p5);
  hyphens: auto;
  color: var(--clr-augmented-300);
}

.footer__social-media-list {
  position: relative;
  max-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__social-media-link {
  color: var(--clr-augmented-300);
}

i.fa-brands {
  font-size: var(--fbt-fluid-body-text-p3);
  transition: color 0.4s, transform 0.4s;
}

i.fa-brands:hover,
i.fa-brands:focus {
  color: var(--clr-augmented-000);
  transform: scale(1.25);
}

.footer__separator {
  width: 66.667%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer__bottom {
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*===============================================================
          Media queries
==================================================================*/
@media screen and (max-width: 1025px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 938px) {
  html {
    font-size: 83.333%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 66.667%;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 830px) {
  body.lock {
    overflow: hidden;
  }

  .header {
    flex-direction: column;
  }

  .header__menu-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: transparent;

  }

  .header__menu-burger-bar,
  .header--burger-bar::before,
  .header--burger-bar::after {
    display: block;
    z-index: 5;
    width: 70%;
    height: 4px;
    background-color: var(--clr-neutral-100);
    border-radius: var(--br-border-radius-200);
  }

  .header__menu-burger-bar {
    position: relative;
    transition: all 0.25s var(--tf-timing-function-smooth);

  }

  .header__menu-burger-bar::before,
  .header__menu-burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--clr-neutral-100);
  }

  .header__menu-burger-bar::before {
    top: 16px;
    transition: top 0.25s var(--tf-timing-function-smooth),
    transform 0.25s var(--tf-timing-function-smooth);
  }

  .header__menu-burger-bar::after {
    bottom: 16px;
    transition: top 0.25s var(--tf-timing-function-smooth),
    transform 0.25s var(--tf-timing-function-smooth);
  }

  .header__menu-burger.active .header__menu-burger-bar {
    background-color: transparent;

  }

  .header__menu-burger.active .header__menu-burger-bar::before {
    top: 0;
    transition: top 0.25s var(--tf-timing-function-smooth),
    transform 0.25s var(--tf-timing-function-smooth);
    transform: rotate(-45deg);

  }

  .header__menu-burger.active .header__menu-burger-bar::after {
    bottom: 0;
    transition: top 0.25s var(--tf-timing-function-smooth),
    transform 0.25s var(--tf-timing-function-smooth);
    transform: rotate(45deg);

  }

  .header__navigation {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: auto;
    padding: 70px 10px 20px 10px;
    background-color: var(--clr-blue-01-500);
    transition: all 0.25s var(--tf-timing-function-smooth);

  }

  .header__navigation.active {
    top: 6%;
    margin-top: 0.667em;
    text-align: center;

  }

  .header__navigation-list {
    height: 50%;
    margin-top: 2em;
    flex-direction: column;
    justify-content: space-evenly;

  }

  .header__navigation-link-item {
    margin: 0 0 1.25em 0;
  }

  .header__navigation-link {
    font-size: var(--fbt-fluid-body-text-p1);
  }

}

@media screen and (max-width: 768px) {
  .header__navigation.active {
    top: 7%;
  }

}

@media screen and (max-width: 550px) {
  .header__navigation.active {
    top: 10%;
  }

}

@media screen and (max-width: 430px) {
  .header__navigation.active {
    top: 7%;
  }

  .header__navbar {
    padding: 2em 4em;
  }

  .header__brand {
    flex: 0 0 45px;
  }

  .header__menu-burger {
    width: 64px;
    height: 40px;
  }

  .banner__section-content {
    width: 110%;
  }
}

@media screen and (max-width: 420px) and (max-height: 736px) {
  .header__navigation.active {
    top: 9%;
  }
}

@media screen and (max-width: 390px) {
  .header__navigation.active {
    top: 8%;
  }
}

@media screen and (max-width: 320px) {
  .banner__section-heading {
    font-size: var(--fs-font-size-heading-02);
  }

  .header__navigation-list {
    height: 55%;
  }
}


/*===============================================================
          Keyframes and animation classes
==================================================================*/
.move-in-from-right {
  animation-name: move-in-from-right;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

.exit-to-left {
  animation-name: exit-to-left;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.animate-fade-in {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: var(--tf-timing-function-smooth);
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@keyframes move-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-50px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes exit-to-left {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(-2000px);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    margin: 0;
  }
}

@keyframes scale-up-from-bottom {
  0% {
    -webkit-transform: scale(.2);
    transform: scale(.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  100% {
    margin: 0;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

/*# sourceMappingURL=main.css.map */